= link_to t("movies.edit"), [:edit, movie], class: "btn btn-sm btn-outline-primary"
= link_to t("movies.remove"), movie, method: :delete, data: { confirm: t(:are_you_sure) }, class: "btn btn-sm btn-outline-danger"
